<div id='registration_form'>
	<%= form_for(@user, :url => update_path) do |f| %>
	<table>
		<tr>
			<td colspan='2'>
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :first_name %></td>
			<td><%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td><%= f.label :last_name %></td>
			<td><%= f.text_field :last_name %></td>
		</tr>
		<tr>
			<td colspan='2'>
				<%= f.radio_button :gender, 'male' %> 
				<%= label :gender_male, 'Male' %>
				<%= f.radio_button :gender, 'female' %>
				<%= label :gender_female, 'Female' %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :login_id %></td>
			<td><%= f.text_field :login_id, :readonly => "readonly" %></td>
		</tr>
		<tr>
			<td colspan='2'><hr />Optional:</td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Confirmation" %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td colspan='2'>
				<%= f.submit "Update" %>
			</td>
	</table>
	<% end %>
</div>
<div id='registration_error'>
	<%= render 'shared/error_messages' %>
</div>
				